.portfolio {
  padding-top: 120px;
  &__wrapper {
    margin-top: 60px;
    display: grid;
    justify-content: space-between;
    grid-template: repeat(1, 280px) / repeat(3, 280px);
    grid-auto-rows: 280px;
    gap: 5px;
  }
  &__item {
    transition: all 0.6s;
    img {
      width: 100%;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}
